# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Onjectives:** 
 - Basic Python
 - Basics of R and R Studio
 - Git and Github
 - Jupyter NoteBooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Scikit learn

| **Data Science Tools** |
| ---------------------- |
| Jupyter Notebook    |
| RStudio         |
| Github|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
minutes = 200

#This will convert 200 minutes to hours by diving by 60
print(f"Hours: {(minutes/60):.2f}")

Hours: 3.33

## Author
Ahmad Sohaib Qasim